@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Luana Linda</h1>
    <p>luana linda <a href="https://docs.microsoft.com/aspnet/core">Luana é linda</a>.</p>

    <a class="navbar-brand" asp-area="" asp-controller="Equipe" asp-action="Index">Equipes</a>

     <a class="navbar-brand" asp-area="" asp-controller="Jogador" asp-action="Index">Jogadores</a>

</div>
